* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  background-color: #6badef;
  color: #333; /* 设置默认文字颜色 */
  font-family: Arial, sans-serif; /* 设置默认字体 */
}

.container {
  margin: 0;
  flex-direction: column;
  padding: 120px;
  width: 600px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 80px;
  padding: 10px;
  display: flex;
}

.nav-link {
  margin-right: 60px;
  align-self: flex-start;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link:active {
  color: #33649d;
}

h1,
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333; /* 设置输入框文字颜色 */
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  background-color: #2385f5;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  margin-top: 50px;
}

button[type="submit"]:hover {
  background-color: #1c6ac2;
  transform: translateY(-2px);
}

button[type="submit"]:active {
  background-color: #2385f5;
  transform: translateY(1px);
}
