html,
body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
  width: 100%;
  top: 0;
  background-color: #fff;
}

.form-inline {
  margin-left: auto;
}

.form-inline input[type="search"] {
  margin-right: 5px;
  width: 200px;
}

.form-inline button {
  cursor: pointer;
}






.navbar-brand img {
  height: 50px;
  /* Adjust logo size accordingly */
  width: auto
}

.custom-bg {
  background-color: #0f83e2;
}

.form-control {
  height: 40px;
  font-size: 16px;
}

.btn {
  height: 40px;
  /* Increase button height */
  padding: 5px 10px;
  /* Adjust padding */
  font-size: 16px;
  /* Increase font size */
}

.btn-outline-success {
  height: 35px;
  border-color: #29528b;
  color: #29528b;
}

.btn-outline-success:hover {
  background-color: #0e431a;
  color: #fff;
}

/* on laptop or pad*/
@media (max-width: 1199px) {
  .navbar-nav .nav-link {
    font-size: 18px;
    padding: 15px 10px;
  }

  .navbar {
    min-height: 100px;
  }

  .navbar-brand img {
    height: 50px;
  }
}