body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

h1 {
    color: #555;
    background-color: #e7e7e7;
    padding: 10px 20px;
    text-align: center;
}
