<!-- /yourproject/app/templates/base.html -->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中文IT求职论坛</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <header>
        <!-- 这里可以添加导航栏 -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- 这里可以添加页脚信息 -->
    </footer>
</body>
</html>
