{% extends 'base.html' %}

{% block title %} Post Question {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post_question.css') }}">
{% endblock %}

{% block body %}
    <div class="bigbox">
        <h1 class="bigtitle">Post Question</h1>

        <form id="postQuestionForm" method="post">
            <div class="form-group">
                <label for="title">Please enter a title:</label>
                <input type="text" id="title" name="title" placeholder="Enter a title" required>
            </div>

            <div class="form-group">
                <label for="content">Please enter the content:</label>
                <textarea id="content" name="content" placeholder="Enter the content" required></textarea>
            </div>

            <div class="post-question">
                <button type="submit" id="post-question-button" name="post-question-button">Post</button>
            </div>
        </form>
    </div>
{% endblock %}